@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*----------ESTRUTURA PRIMÁRIA------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
html{
  
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: whitesmoke;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

#telaInicial{
  color: white;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/camaradeputados.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
header{
  width: 100%;
/*   border: 2px solid pink; */
/*   display: flex;
  justify-content: space-between; */
  padding-left: 200px;
  position: absolute;
  top: 20px;
}
main{
  width: 80%;
  margin: 0px auto;
  border: 1px solid red;
}

footer{
  
}
/*----------FIM ESTRUTURA PRIMÁRIA------------*/

/*-------LOGO-------*/
section#logo{
  width: 160px;
  height: 55px;
/*   border: 1px solid; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  float: left;
}

img#imgLogo{
  float: left;
}
/*-------FIM LOGO-------*/
/*-------NAV------------*/
nav{
/*   border: 1px solid yellow; */
/*   display: inline-block; */
  height: 55px;
  display: flex;
  align-items: center;
}
ul#ulNav{
  list-style-type: none;
/*   border: 1px solid red; */
  margin-left: 40%;
}
li.liNav{
  font-size: 12px;
  float: left;
  font-weight: bold;
/*   border: 1px solid green; */
  padding: 0px 10px;
}
/*-------FIM NAV------------*/

/*-------CHAMADA INICIAL------------*/
#chamadaInicial{
/*   border: 1px solid purple; */
/*   text-align: center; */
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#chamadaInicial>:nth-child(1){
  font-size: 3em;
  letter-spacing: 2px;
}
#chamadaInicial>h4, #chamadaInicial>:nth-child(1){
  text-shadow: 3px 3px rgb(000,50,80);
}
#chamadaInicial>h4{
  margin-top: 5px;
  margin-bottom: 30px;
  opacity: 85%;
}
#chamadaInicial>button{
  width: 130px;
}
/*-------FIM CHAMADA INICIAL------------*/

/*-------SEÇÃO DEPUTADOS------------*/
.consulta{
  text-align: center;
}
.consulta>h2, #noticias>h2{
  color: rgb(000,50,80);
  font-size: 14px;
  margin-top: 50px;
  margin-bottom: 15px;
  text-align: center;
}
.consulta>p{
  color: #333;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 25px;
}
input[placeholder="Nome do Deputado"], input[placeholder="Nome do Partido"]{
  padding: 10px;
  font-size: 10px;
  opacity: 50%;
}
#btBuscarDeputados, #btBuscarPartido, input[placeholder="Nome do Deputado"], input[placeholder="Nome do Partido"]{
  display: block;
  width: 35%;
  margin: 0px auto;
}
#btBuscarDeputados, #btBuscarPartido{
  margin-top: 15px;
  margin-bottom: 15px;
}

#btBuscarDeputados>i, #btBuscarPartido>i{
  font-size: 12px;
}
/*----BOX DEPUTADOS----*/
#boxListagemDeputados, #boxListagemPartido{
/*   border: 1px solid green; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.boxListagem{
  width: 23%;
  background-color: white;
  margin-bottom: 50px;
/*   border: 1px solid yellow; */
}
.informativo{
  padding: 30px 35px 0px 35px;
  font-size: 10px;
  color: gray;
  border: 1px solid lightgray;
  border-top: none;
}
.informativo>:nth-child(1){
  font-size: 25px;
  color: #444;
}
.descricaoDeputado{
/*   border: 1px solid green; */
  text-align: left;
  margin: 10px 0px;
}

.descricaoDeputado>ul>li{
  padding-bottom: 10px;
  list-style-type: circle;
}
.descricaoDeputado>ul{
  padding-left: 15px;
}

#icons{
  text-align: center;
  padding: 20px 0px;
}
/*----FIM BOX DEPUTADOS----*/
/*-------FIM SEÇÃO DEPUTADOS------------*/

/*-------SEÇÃO PARTIDOS------------*/
.pPartido{
  font-size: 16px;
  font-weight: bold;
  color: #444;
  padding: 15px 15px 5px 15px;
}

.imgPartido{
  width: 150px;
  height: 150px;
}

.informativoPartido{
  border: none;
}
/*-------FIM SEÇÃO PARTIDOS------------*/
/*-------SEÇÃO NOTICIAS------------*/
#noticia1{
  display: flex;
/*   border: 1px solid blue; */
}

#descricaoNoticia{
/*   border: 1px solid yellow; */
  padding-left: 20px;
  position: relative;
}
#descricaoNoticia>h3{
  text-align: center;
  font-size: 20px;
  color: #444;
  margin-bottom: 10px;
}

#descricaoNoticia>p, #footerNoticia{
  color: gray;
  font-size: 16px;
  line-height: 150%;
  text-align: justify;
  margin-bottom: 20px;
}

#footerNoticia{
  text-align: center;
}
#btVejaMaisNoticias{
  width: calc(100% - 20px);
  position: absolute;
  bottom: 0;
}
/*-------FIM SEÇÃO NOTICIAS------------*/

/*-------------CONFIGURAÇÕES GERAIS---------------  */
.clear{
  clear: both;
}

.btPadrao{
  background-color: rgb(000,50,80);
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 10px;
  font-weight: bold;
  color: white;
  border: 2px solid rgb(000,50,80);
}

.btPadrao:hover{
  background-color: rgba(255,255,255,1);
  color: rgb(000,50,80);
  cursor: pointer;
}

.aTelaInicial:link, .aTelaInicial:visited, .aTelaInicial:hover, aTelaInicial{
  font-size: 12px;
  color: white;
}

.aTelaInicial:hover{
  text-decoration: underline;
}

#icons>:nth-child(n){
  background-color: rgb(000,50,80);
  color: white;
  font-size: 14px;
  padding: 4px 6px 4px 6px;
  border-radius: 50%;
}

.consertoIconeInstagram{
  padding: 4px 2px 4px 2px !important;
}
